<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">

    <title>Admin</title>
</head>
<body>
    <a href="/admin/UserManagement"><button>User Management</button></a>
    <a href="/admin/courseListManagement"><button>Course List Management</button></a>
    <a href="/admin/CourseActivityManagement"><button>Course Activity Management</button></a>
    <a href="/admin/CourseEnrollmentManagement"><button>Course Enrollment Management</button></a>
    <a href="#"><button>Campus Map Management</button></a>
    <a href="#"><button>Payment Management</button></a>
    <a href="#"><button>Course Evaluation Management</button></a>
</body>
</html>