<!-- feedbackManagement.ejs -->

<%- include("../partials/header") %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/adminNavbar.css">
<link rel="stylesheet" href="/stylesheets/adminManagement.css">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<title>Feedback: Admin</title>
</head>

<body>

    <div class="admin-navbar">
        <ul>
            <a class="navlogo" href="#">
                <img src="/images/rmitlogo.png" alt="">
                <p>RMITdays</p>
            </a>
            <li>
            <a class="admin-profile-wrap" href="#">
                <div class="admin-profile">
                    <img src="/images/studentProfile.png" alt="">
                </div> 
                <p>Admin Name</p>
            </a>
            </li>
            <li>
                <a class="backWeb" href="#">
                    <ion-icon name="exit-outline"></ion-icon>
                    <p>Go back to Website</p>
                </a>
            </li>

            <p id="category1" >Management</p>
            <li><a href="#">User</a></li>
            <li><a href="#">Course List</a></li>
            <li><a href="#">Course Activity</a></li>
            <li><a href="#">Course Enrollment</a></li>
            <li><a href="#">Campus Map</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#">Course Evaluation</a></li>
          </ul>
    </div>

    <!-- main -->
    <div class="adminCourseManageContents">
        <h1>Feedback Management</h1>

<!-- Display Feedback List -->
<br>
<table>
    <tr>
        <th>Type of Feedback</th>
        <th>Feedback Details</th>
        <th>Submission Time</th>
    </tr>
    <% for (let i = 0; i < feedbackList.length; i++) { %>
        <tr>
            <td><%= feedbackList[i].typeOfFeedback %></td>
            <td><%= feedbackList[i].feedbackDetails %></td>
            <td><%= feedbackList[i].submissionTime.toISOString().split('T')[0] %></td>
        </tr>
    <% } %>
</table>
    </div>
</body>

</html>
