* {
  margin: 0;
  padding: 0;
    font-family: 'Sofia Sans';
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  margin: 10px;
}

.header{
  display: flex;
  justify-content: center;
}

.delete-btn{
  margin-right: 10px;
  background-color: white;
  color: #222160;
  font-size: 23px;
  border: none;
}

.delete-btn:hover{
  opacity: .5;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

header ul {
  list-style: none;
  display: flex;
  padding: 10px;
}

header li {
  margin-left: 1rem;
}

header li img {
  max-width: 50px;
  max-height: 50px;
}

header a {
  display: block;
  text-align: center;
  text-decoration: none;
}

ul .icon img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.icon:hover {
    opacity: .5;
}
h2 {
  color: #222160;
  font-weight: 700;
  margin-top: 18px;
}

#login-form{
  display: flex;
  flex-direction: column;
}

#login-form > input{
  height: 45px;
  width: 100%;
  margin: 3px;
  border-radius: 10px;
  background-color: #EAEBE8;
  border: none;

}
#login-form > input::placeholder{
  color: #d2cccc;
}
#login-form > input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #222160;
  margin-top: 15px;
  width: 100%;
}

#login-form input[type="submit"]:hover{
  background-color: rgba(34, 33, 96, 0.835);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
}

#login-form > input[type="checkbox"]{
  display: none;
}
#login-form > label{
  color: #999999;
}
.register {
  text-align: center;
  margin:30px;
}
p{
  color: #222160;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}