<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <link rel="stylesheet" href="../css/bankManage.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>RMITdays</title>
  </head>
<body>
  <div class="bank-header">
    <h1>My Bank Account</h1>
    <a href="../html/profile.html">
      <ion-icon class="bank-delete-icon" name="close-outline"></ion-icon>
    </a>
  </div>
  <div class="bankAccount">
    <ion-icon id="deleteBank" name="trash-outline"></ion-icon>
    <div class="bank-info">
      <p id="bank-num">1234-5677-91011</p>
      <p id="bank-name">Shinhan</p>
      <p id="amount">1,000,000 VND</p>
    </div>
  </div>
  <a class="add-btn" href="addBank.html"><ion-icon class="add-icon" name="add-outline"></ion-icon></a>
  </body>
</html>