<%- include("./partials/header") %>
    <link rel="stylesheet" href="/stylesheets/campusMapCategory.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
    </head>

    <body>
        <!-- Header -->
        <%- include("./partials/navigation") %>
            <div class="mainContentHeader">
                <div class="Category">
                    <h1>Beanland Building</h1>
                    <a href="main"> <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
                </div>
            </div>


            <div class="contentContainers">
                <div class="contentContainer">
                    <div class="locationCategory">
                        <a href="링크 주소">
                            <h3>Juice & Coffee corners</h3>
                            <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="locationCategory">
                        <a href="링크 주소">
                            <h3>Lygon Café</h3>
                            <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                    <div class="locationCategory">
                        <a href="링크 주소">
                            <h3>Bobby Brewers</h3>
                            <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
    </body>

    </html>