<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="campusMapCategory.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="main"><img class="logo" src="/images/rmitlogo.png" alt="RMIT logo" ></a>
        <nav>
          <ul>
            <li><a href="main"><ion-icon class="header-icon" name="home-outline"></ion-icon></a></li>
            <li><a href="#"><ion-icon class="header-icon" name="id-card-outline"></ion-icon></a></li>
            <li><a href="profile"><ion-icon class="header-icon" name="person-outline"></ion-icon></ion-icon></a></li>
          </ul>
        </nav>
      </header>
      <div class="mainContentHeader">
        <div class="Category">
            <h1>Beanland Building</h1>
            <a href="main">    <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
        </div>
      </div>

    
        <div class="contentContainers">
            <div class="contentContainer">
                <div class="locationCategory">
                    <a href="링크 주소">
                        <h3>Juice & Coffee corners</h3>
                        <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                    </a>
                </div>
                <div class="locationCategory">
                    <a href="링크 주소">
                        <h3>Lygon Café</h3>
                        <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                    </a>
                </div>
                <div class="locationCategory">
                    <a href="링크 주소">
                        <h3>Bobby Brewers</h3>
                        <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                    </a>
        </div>

    
</body>
</html>