<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/courseEvaluationMain.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>


        <div class="course_evaluation-header">
            <h1>Course Evaluation</h1>
            <a href="profile.html">    <ion-icon class="course_evaluation-delete-icon" name="close-outline"></ion-icon></a>
          </div>
    
    <div class="search">
        <input type="text" placeholder="Search i.e. ISYS2101 or 교수이름">
        <div class="searchIcon">
            <img src="/images/free-icon-search-interface-symbol-54481.png">
        </div>
      </div>
    <div class="mainContent">
        <h4>Current Review</h4>
        
        <div class="comment-list">
            <div class="comment">
                <a href="reviewDetail">
                    <h3 class="comment-title">ISYS2101/Software Engineering Project Management : Tuan Tran Mihn</h3>
                <div class="rating"> 
                    <!-- 별점을 여기에 추가할 수 있어요. -->
                </div>
                <p class="author">Students in the first semester of '22</p>
                <p class="comment-content">He was nice.</p>
                </a>
            </div>
            <div class="comment">
                <a href="reviewDetail">
                    <h3 class="comment-title">ISYS2101/Software Engineering Project Management : Tuan Tran Mihn</h3>
                <div class="rating"> 
                    <!-- 별점을 여기에 추가할 수 있어요. -->
                </div>
                <p class="author">Students in the first semester of '22</p>
                <p class="comment-content">He was nice.</p>
                </a>
            </div>
            <div class="comment">
                <a href="reviewDetail">
                    <h3 class="comment-title">ISYS2101/Software Engineering Project Management : Tuan Tran Mihn</h3>
                <div class="rating"> 
                    <!-- 별점을 여기에 추가할 수 있어요. -->
                </div>
                <p class="author">Students in the first semester of '22</p>
                <p class="comment-content">He was nice.</p>
                </a>
            </div>
            <div class="comment">
                <a href="reviewDetail">
                    <h3 class="comment-title">ISYS2101/Software Engineering Project Management : Tuan Tran Mihn</h3>
                <div class="rating"> 
                    <!-- 별점을 여기에 추가할 수 있어요. -->
                </div>
                <p class="author">Students in the first semester of '22</p>
                <p class="comment-content">He was nice.</p>
                </a>
            </div>
        </div>
        <div class="reviewBtn">
            <a href="courseSelect">
                <button>Go to Review</button>
            </a>
            
        </div>

        
        
</body>
</html>