<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/courseSelect.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo" src="../../rmitlogo.png" alt="RMIT logo" >
        <nav>
          <ul>
            <li><a href="#"><img class="icon" src="../../home.png" alt=""></a></li>
            <li><a href="#"><img class="icon" src="../../id-card.png" alt=""></a></li>
            <li><a href="#"><img class="icon" src="../../user.png" alt=""></a></li>
          </ul>
        </nav>
        
    </header>
    <div class="mainContent">
        <div class="courseContainer">
            <a href="views\reviewDetail.html" class="courseItem">
                <div class="courseInfo">
                    <h3 class="courseCode">ISYS2101</h3>
                    <h3 class="courseName">Software Engineering Project Management</h3>
                    <p class="professorName">Tuan Tran Mihn</p>
                </div>
                <button class="reviewBtn">Review</button>
            </a>
            <a href="views\reviewDetail.html" class="courseItem">
                <div class="courseInfo">
                    <h3 class="courseCode">ISYS2101</h3>
                    <h3 class="courseName">Software Engineering Project Management</h3>
                    <p class="professorName">Tuan Tran Mihn</p>
                </div>
                <button class="reviewBtn">Review</button>
            </a>
            <a href="views\reviewDetail.html" class="courseItem">
                <div class="courseInfo">
                    <h3 class="courseCode">ISYS2101</h3>
                    <h3 class="courseName">Software Engineering Project Management</h3>
                    <p class="professorName">Tuan Tran Mihn</p>
                </div>
                <button class="reviewBtn">Review</button>
            </a>
        </div>
    </div>
    

</body>
</html>