<%- include ('partials/head') %>

<style>img {width: 30%;}</style>
<a href="/home"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/RMIT_University_Logo.svg/2560px-RMIT_University_Logo.svg.png"></a>
<h1>Wellcome to RMITdays!!</h1>

<li><a href="/register">Create Account</a></li>
<li><a href="/login">Login</a></li>


<%- include ('partials/footer') %>