<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
  <link rel="icon" href="images/rmitlogo.png" sizes = "16*16">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>RMITdays</title>
</head>
<body>
  <div id="login-header">
    <img src="images/rmitlogo.png" alt="" width="100px">
    <p>Enjoy the RMIT Life</p>
    <h1>RMITdays</h1>
  </div>
  <div>
    <form action="/" method="post">
        <input name="name" type="text" placeholder="  ID" class="in">
        <input name="password" type="password" placeholder="  Passwords" class="in">
        <input type="submit" id="btn" value="RMITdays login"><br>
    </form>
    <a id="findId-btn" href="#none">Find My ID/PW</a>
    <a id="register-btn" href="/register">REGISTER</a>
</div>

<script>
  <% if (typeof error !== 'undefined') { %>
    alert('<%= error %>');
  <% } %>
</script>

</body>
</html>