<%- include("./partials/header") %>

  <link rel="stylesheet" href="stylesheets/register.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <title>RMITdays</title>
</head>

<body>

  <form action="/register" method="POST">
  <!-- <script src="/public/js/register.js"></script> -->

  <header>
    <div class="header">
      <img class="logo" src="/images/rmitlogo.png" alt="RMIT logo">
      <h2>REGISTER</h2>
    </div>
    <a class="delete-btn" href="/"><ion-icon name="close-outline"></ion-icon></ion-icon></a>
  </header>
  <div class="register" id="login-form">
      <p>The year of the rmit enterance</p>
      <input id="month" type="month" name="year">

      <p>Select your major</p>
      <select>
        <option value="0">Business</option>
        <option value="1">Accounting</option>
        <option value="2">Business Administration</option>
        <option value="3">Economics and Finance</option>
        <option value="4">International Business</option>
        <option value="5">Logistics and Supply Chain Management</option>
        <option value="6">Management</option>
        <option value="7">Human Resource Management</option>
        <option value="8">Digital Business</option>
        <option value="9">Tourism and Hospitality Management</option>
        <option value="10">Digital Marketing</option>
        <option value="11">Design - Digital Media</option>
        <option value="12">Design Studies</option>
        <option value="13">Game Design</option>
        <option value="14">Digital Film and video</option>
        <option value="15">Professional Communication</option>
        <option value="16">Fashion - Enterprise</option>
        <option value="17">Languages</option>
        <option value="18">Psychology</option>
        <option value="19">Aviation Management</option>
        <option value="20">Software Engineering</option>
        <option value="21">Information Technology</option>
        <option value="22">Robotics and Mechatronics Engineering</option>
        <option value="23">Electronic and Computer Systems Engineering</option>
        <option value="24">Food Technology and Nutrition</option>
      </select>

        <!-- Email, Full name, Password -->
        <p>Personal Information</p>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="name" placeholder="Full Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="NEXT">
      </form>
  </div>
  <div class="goto-login">
    <p class="message">Already have an account?</p>
    <a href="/"><p>Login</p></a>
  </div>
</body>

</html>