<%- include("./partials/header") %>

    <title>Review Detail</title>
    <link rel="stylesheet" href="/stylesheets/reviewDetail.css">

</head>
<body>

    <div class="headerContainer">
        <div class="course_evaluation-header">
            <h3 class="courseCode">ISYS2101</h3>
            <h3 class="courseName">Software Engineering Project Management</h3>
            <p class="professorName">Tuan Tran Minh</p>

            <a href="profile.html">    <ion-icon class="course_evaluation_detail-delete-icon" name="close-outline"></ion-icon></a>
        </div>
    </div>
    <div class="mainContent">
        <div class="review-section">
            <div class="review">
                <h3>Paper</h3>
                <p>None</p>
            </div>
            <div class="review">
                <h3>Test</h3>
                <p>3 Times</p>
            </div>
            <div class="review">
                <h3>Grades</h3>
                <p>User's comment about Grades section.</p>
            </div>
            <div class="review">
                <h3>Group Project</h3>
                <p>No</p>
            </div>
        </div>
            <div class="comment-list">
                <div class="comment">
                    <div class="rating"> 
    
                    </div>
                    <p class="author">Students in the first semester of '22</p>
                    <p class="comment-content">He was nice.</p>
                </div>
                <div class="comment">
                    <div class="rating"> 
    
                    </div>
                    <p class="author">Students in the first semester of '22</p>
                    <p class="comment-content">He was nice.</p>
                </div>
                <div class="comment">
                    <div class="rating"> 
    
                    </div>
                    <p class="author">Students in the first semester of '22</p>
                    <p class="comment-content">He was nice.</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
