<%- include ('partials/head') %>

<style>img {width: 50%;}</style>
<h1>This is main page</h1>

<a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/RMIT_University_Logo.svg/2560px-RMIT_University_Logo.svg.png"></a>

<h1>This is home page</h1>


<li><a href="/logout">Logout</a></li>
<%- include ('partials/footer') %>