<%- include("./partials/header") %>

    <link rel="stylesheet" href="/stylesheets/timetable.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Timetable</title>
</head>
<body>

        <%- include("./partials/navigation") %>

    <div class="mainContent">
        <div class="mainContentHeader">
            <h3>Sem5</h3>
            <div class="Category">
                <h1>TimeTable</h1>
                <a href="course_list"><img class="addIcon" src="/images/free-icon-add-2774757.png" alt="Add Course"></a>
            </div>
        </div> 

        <table border="1" class="time">
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                </tr>
            </thead>
            <tbody>
                <!-- 8:00 ~ 8:30 -->
                <tr>
                    <td rowspan="2">8</td>
                    <td class="MON-8"></td>
                    <td class="TUE-8"></td>
                    <td class="WED-8"></td>
                    <td class="THU-8"></td>
                    <td class="FRI-8"></td>
                </tr>
                <!-- 8:30 ~ 9:00 -->
                <tr>
                    <td class="MON-8-30"></td>
                    <td class="TUE-8-30"></td>
                    <td class="WED-8-30"></td>
                    <td class="THU-8-30"></td>
                    <td class="FRI-8-30"></td>
                </tr>
                <tr>
                    <td rowspan="2">9</td>
                    <td class="MON-9"></td>
                    <td class="TUE-9"></td>
                    <td class="WED-9"></td>
                    <td class="THU-9"></td>
                    <td class="FRI-9"></td>
                </tr>
                <!-- 9:30 ~ 10:00 -->
                <tr>
                    <td class="MON-9-30"></td>
                    <td class="TUE-9-30"></td>
                    <td class="WED-9-30"></td>
                    <td class="THU-9-30"></td>
                    <td class="FRI-9-30"></td>
                </tr>
                <tr>
                    <td rowspan="2">10</td>
                    <td class="MON-10"></td>
                    <td class="TUE-10"></td>
                    <td class="WED-10"></td>
                    <td class="THU-10"></td>
                    <td class="FRI-10"></td>
                </tr>
                <tr>
                    <td class="MON-10-30"></td>
                    <td class="TUE-10-30"></td>
                    <td class="WED-10-30"></td>
                    <td class="THU-10-30"></td>
                    <td class="FRI-10-30"></td>
                </tr>
        
                <!-- 11:00 ~ 11:30 -->
                <tr>
                    <td rowspan="2">11</td>
                    <td class="MON-11"></td>
                    <td class="TUE-11"></td>
                    <td class="WED-11"></td>
                    <td class="THU-11"></td>
                    <td class="FRI-11"></td>
                </tr>
                <tr>
                    <td class="MON-11-30"></td>
                    <td class="TUE-11-30"></td>
                    <td class="WED-11-30"></td>
                    <td class="THU-11-30"></td>
                    <td class="FRI-11-30"></td>
                </tr>
                <tr>
                    <td rowspan="2">12</td>
                    <td class="MON-12"></td>
                    <td class="TUE-12"></td>
                    <td class="WED-12"></td>
                    <td class="THU-12"></td>
                    <td class="FRI-12"></td>
                </tr>
                <tr>
                    <td class="MON-12-30"></td>
                    <td class="TUE-12-30"></td>
                    <td class="WED-12-30"></td>
                    <td class="THU-12-30"></td>
                    <td class="FRI-12-30"></td>
                </tr>
                        <!-- 13:00 ~ 13:30 -->
                <tr>
                    <td rowspan="2">13</td>
                    <td class="MON-13"></td>
                    <td class="TUE-13"></td>
                    <td class="WED-13"></td>
                    <td class="THU-13"></td>
                    <td class="FRI-13"></td>
                </tr>
                <tr>
                    <td class="MON-13-30"></td>
                    <td class="TUE-13-30"></td>
                    <td class="WED-13-30"></td>
                    <td class="THU-13-30"></td>
                    <td class="FRI-13-30"></td>
                </tr>

                <!-- 14:00 ~ 14:30 -->
                <tr>
                    <td rowspan="2">14</td>
                    <td class="MON-14"></td>
                    <td class="TUE-14"></td>
                    <td class="WED-14"></td>
                    <td class="THU-14"></td>
                    <td class="FRI-14"></td>
                </tr>
                <tr>
                    <td class="MON-14-30"></td>
                    <td class="TUE-14-30"></td>
                    <td class="WED-14-30"></td>
                    <td class="THU-14-30"></td>
                    <td class="FRI-14-30"></td>
                </tr>

                <!-- 15:00 ~ 15:30 -->
                <tr>
                    <td rowspan="2">15</td>
                    <td class="MON-15"></td>
                    <td class="TUE-15"></td>
                    <td class="WED-15"></td>
                    <td class="THU-15"></td>
                    <td class="FRI-15"></td>
                </tr>
                <tr>
                    <td class="MON-15-30"></td>
                    <td class="TUE-15-30"></td>
                    <td class="WED-15-30"></td>
                    <td class="THU-15-30"></td>
                    <td class="FRI-15-30"></td>
                </tr>
                        <!-- 16:00 ~ 16:30 -->
                <tr>
                    <td rowspan="2">16</td>
                    <td class="MON-16"></td>
                    <td class="TUE-16"></td>
                    <td class="WED-16"></td>
                    <td class="THU-16"></td>
                    <td class="FRI-16"></td>
                </tr>
                <tr>
                    <td class="MON-16-30"></td>
                    <td class="TUE-16-30"></td>
                    <td class="WED-16-30"></td>
                    <td class="THU-16-30"></td>
                    <td class="FRI-16-30"></td>
                </tr>

                <!-- 17:00 ~ 17:30 -->
                <tr>
                    <td rowspan="2">17</td>
                    <td class="MON-17"></td>
                    <td class="TUE-17"></td>
                    <td class="WED-17"></td>
                    <td class="THU-17"></td>
                    <td class="FRI-17"></td>
                </tr>
                <tr>
                    <td class="MON-17-30"></td>
                    <td class="TUE-17-30"></td>
                    <td class="WED-17-30"></td>
                    <td class="THU-17-30"></td>
                    <td class="FRI-17-30"></td>
                </tr>

                <!-- 18:00 ~ 18:30 -->
                <tr>
                    <td rowspan="2">18</td>
                    <td class="MON-18"></td>
                    <td class="TUE-18"></td>
                    <td class="WED-18"></td>
                    <td class="THU-18"></td>
                    <td class="FRI-18"></td>
                </tr>
                <tr>
                    <td class="MON-18-30"></td>
                    <td class="TUE-18-30"></td>
                    <td class="WED-18-30"></td>
                    <td class="THU-18-30"></td>
                    <td class="FRI-18-30"></td>
                </tr>
            </tbody>
        </table>
        

    </div>
</body>
</html>
