<%- include("../partials/header") %>

  <link rel="icon" href="/images/rmitlogo.png" sizes="16*16">
  <link rel="stylesheet" href="/stylesheets/bankManage.css">

  <title>RMITdays</title>
  </head>

  <body>
    <div class="bank-header">
      <h1>My Bank Account</h1>
      <a href="profile">
        <ion-icon class="bank-delete-icon" name="close-outline"></ion-icon>
      </a>
    </div>
    <div class="bankAccount">
      <ion-icon id="deleteBank" name="trash-outline"></ion-icon>
      <div class="bank-info">
        <p id="bank-num">1234-5677-91011</p>
        <p id="bank-name">Shinhan</p>
        <p id="amount">1,000,000 VND</p>
      </div>
    </div>
    <a class="add-btn" href="addBank"><ion-icon class="add-icon" name="add-outline"></ion-icon></a>
    </a>
  </body>

  </html>