<%- include("../partials/header") %>

    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/barcode.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="main"><img class="logo" src="/images/rmitlogo.png" alt="RMIT logo" ></a>
        </div>
        <a class="delete-btn" href="paymentMain"><ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></ion-icon></a>
    </header>
    <div class="mainContainers">
        <div class="barCode">
            <img src="/images/qrcode.png">
        </div>
        <div class="info-btn-wrap">
            <div class="accountInfo">
                <img src="/images/rmitunilogo.png" alt="">
                <div class="info-detail">
                    <p class="accountNumber"><%= userEmail %></p><br>
                    <p class="balance">VND <%= paymentBalance.balance %></p>
                </div>
            </div>
            <button onclick="window.location.href = 'qrscanner'" class="buttonContent">
                <div class="btnContent-wrap">
                    <ion-icon class="scan-icon" name="scan-outline"></ion-icon>
                    <span>QR Pay</span>
                </div>
            </button>
        </div>
    </div>
    
</body>
</html>