<!-- camera.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>카메라 호출</title>
</head>
<body>
    <h1>카메라 호출하기</h1>
    
    <video id="videoElement" width="640" height="480" autoplay></video>

    <script>
        // getUserMedia를 사용하여 카메라에 접근
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.getElementById('videoElement');
                video.srcObject = stream;
            })
            .catch(function(err) {
                console.error('카메라 접근에 실패했습니다: ', err);
            });
    </script>
</body>
</html>
