<!DOCTYPE html>
<html>
<head>
    <title>카메라 호출</title>
</head>
<body>
    <h1>카메라 호출하기</h1>
    
<input type="file" accept="image/*" capture="camera" id="camera">
<img id="frame">
<script>
    var camera = document.getElementById('camera');
    var frame = document.getElementById('frame');

    camera.addEventListener('change', function(e) {
        var file = e.target.files[0];

        frame.src = URL.createObjectURL(file);
    });
</script>

</body>
</html>
