<%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/campusMap.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
    <link rel="icon" href="../images/rmitlogo.png" sizes = "16*16">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>RMITdays</title>
</head>
<body>
    <%- include("../partials/navigation") %>

    <div class="mainContentHeader">
          <h2>CampusMap</h2>
          <a class="delete-btn" href="main"><ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></ion-icon></a>
    </div>

    
        <div class="search">
            <input type="text" placeholder="Search i.e. 2.1.004">
            <ion-icon class="searchIcon" name="search-outline"></ion-icon>
        </div>

        <div class="contentContainers">
            <div class="contentContainer">
                <% mainCategories.forEach(category => { %>
                    <div class="locationCategory">
                        <a href="/campusMap/<%= category.name %>">
                            <h3><%= category.name %></h3>
                            <ion-icon class="nextPage" name="chevron-forward-outline"></ion-icon>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>

    
</body>
</html>