<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/charging.css">

<title>RMITdays</title>
    
</head>
<body>
  <header>
    <div class="header">
      <img class="logo" src="/images/rmitlogo.png" alt="RMIT logo">
      <h2>RMIT Pay</h2>
    </div>
    <a class="delete-btn" href="paymentMain"><ion-icon name="close-outline"></ion-icon></a>
  </header>
  <div class="mainContent">
    <h2>Select the plan you want to charge</h2>
    <div class="chargeButtons">
      <button class="chargeButton" onclick="openPopup(50000)">VND <br> 50,000</button>
      <button class="chargeButton" onclick="openPopup(100000)">VND <br> 100,000</button>
      <button class="chargeButton" onclick="openPopup(200000)">VND <br> 200,000</button>
      <button class="chargeButton" onclick="openPopup(500000)">VND <br> 500,000</button>
      <button class="chargeButton" onclick="openPopup(800000)">VND <br> 800,000</button>
      <button class="chargeButton" onclick="openPopup(1000000)">VND <br> 1,000,000</button>
    </div>
    <!-- charging confirm popup -->
    <div class="hide" id="chargeModal">
      <div class="modal-content">
        <h2>Confirm your action</h2>
        <p id="chargeAmount" style="color:black;"></p>
        <button class="confirmButton" onclick="confirmCharge()">Charge</button>
        <button class="confirmButton" onclick="cancelCharging()">Cancel</button>
      </div>
    </div>
    <div class="hide" id="successModal">
      <div class="modalContent">
        <h2>Charging succeeded</h2>
        <p>Your payment has been successfully processed.</p>
        <button onclick="gotoPaymentPage()">Go to Payment Page</button>
      </div>
    </div>
  </div>
  <script>
    let selectedAmount = 0;

    function openPopup(amount) {
      selectedAmount = amount;
      const modal = document.getElementById('chargeModal');
      modal.style.display = 'block';
      document.getElementById('chargeAmount').innerText = `Selected Amount: VND ${amount}`;
    }

    function confirmCharge() {
      fetch('/charging', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ amount: selectedAmount }),
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        showSuccessPopup();
      })
      .catch(error => {
        console.error('Error:', error);
      });

      closePopup();
    }

    function showSuccessPopup() {
      const successModal = document.getElementById('successModal');
      successModal.style.display = 'block';
    }

    function closePopup() {
      const modal = document.getElementById('chargeModal');
      modal.style.display = 'none';
    }

    function gotoPaymentPage() {
      window.location.href = '/paymentMain';
    }

    function cancelCharging() {
      closePopup();
    }
  </script>
</body>
</html>
