<!-- user/feedback.ejs -->

<%- include("../partials/header") %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/feedback.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<title>User Feedback</title>

</head>
<body>
    <%- include("../partials/navigation") %>
    <div class="contentConatiner">
        <div class="feedback-form">
            <h2>Leave Feedback</h2>
            <select id="feedbackType">
                <option value="GeneralInquiry">General Inquiry</option>
                <option value="BugReport">Bug Report</option>
                <option value="FeatureRequest">Feature Request</option>
                <option value="ContentError">Content Error</option>
                <option value="PaymentIssue">Payment Issue</option>
                <option value="AccountProblem">Account Problem</option>
            </select>
            <textarea id="feedbackText" placeholder="Write your feedback here..."></textarea>
            <button class="submitBtn" onclick="openPopup()">Submit</button>
        </div>
    </div>
    <div id="popup" class="hide">
        <div class="content">
          <h1>Confirm your action</h1>
          <p>Do you agree to submit your feedback?</p>
            <button onclick="submitFeedback()">YES</button>
            <button href="#" onclick="closePopup()">NO</button>
        </div>
      </div>

      <script>
        function openPopup() {
          document.getElementById('popup').classList.remove('hide');
        }

        function closePopup() {
          document.getElementById('popup').classList.add('hide');
        }

        async function submitFeedback() {
          const feedbackType = document.getElementById('feedbackType').value;
          const feedbackText = document.getElementById('feedbackText').value;

          openPopup();

          try {
            const response = await fetch('/submit-feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    feedbackType: feedbackType,
                    feedbackDetails: feedbackText,
                }),
            });

            const result = await response.json();

            if (result.success) {
                console.log('Feedback submitted successfully');

                // Redirect to /profile
                window.location.href = '/profile';
            } else {
                console.error('Failed to submit feedback');
            }
        } catch (error) {
            console.error('An error occurred:', error);
            closePopup();
        }
    }
      </script>
</body>
</html>
