<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/qrpayment.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<title>RMITdays - QR Payment</title>

</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="/images/rmitlogo.png" alt="RMIT logo" >
        </div>
        <a class="delete-btn" href="paymentMain"><ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></ion-icon></a>
    </header>
    <div class="contentContainer">
        <div class="mainContent">
            <h2>QR Payment</h2>
            <form action="/qrpayment" method="post">
                <div>
                    <label for="recipientEmail" class="custom-label">Recipient's Email:</label>
                    <!-- Input field for recipient's email. It gets disabled if the email is verified -->
                    <input class="custom-input" type="email" id="recipientEmail" name="recipientEmail" value="<%= recipientEmail %>" required <% if (verificationStatus === 'verified') { %>disabled<% } %>>
                    <!-- Hidden input to send the verified email to the server -->
                    <% if (verificationStatus === 'verified') { %>
                        <input class="custom-input" type="hidden" name="verifiedRecipientEmail" value="<%= recipientEmail %>">
                    <% } %>
                    <!-- Show verification button only if the email is not yet verified -->
                    <% if (verificationStatus !== 'verified') { %>
                        <button class="custom-button" type="submit" name="action" value="verify">Verify</button>
                    <% } %>
                    <!-- Display verification status -->
                    <% if (verificationStatus) { %>
                        <% if (verificationStatus === 'verified') { %>
                            <p class="verify">Verified</p>
                        <% } else { %>
                            <p class="notVerify">User not found</p>
                        <% } %>
                    <% } %>
                </div>

                <!-- Amount input and payment button are shown only after successful verification -->
                <% if (verificationStatus === 'verified') { %>
                    <div class="amountSection">
                        <label for="amount" class="custom-label">Amount to Pay:</label>
                        <input class="custom-input" type="number" id="amount" name="amount" required>
                        <button class="custom-button2" type="submit" name="action" value="pay">Pay Now!</button>
                    </div>
                <% } %>
            </form>
        </div>
</div>
</body>

</html>
