<%- include("../partials/header") %>

  <link rel="stylesheet" href="stylesheets/register.css">
  <script src="/js/register.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <title>RMITdays</title>
</head>

<body>

  <form action="/register" method="POST">
  

  <header>
    <div class="header">
      <img class="logo" src="/images/rmitlogo.png" alt="RMIT logo">
      <h2>REGISTER</h2>
    </div>
    <a class="delete-btn" href="/"><ion-icon name="close-outline"></ion-icon></ion-icon></a>
  </header>
  <div class="register" id="login-form">
      <p>Select your major</p>
      <select name="major" onfocus='this.size=10;' 
      onblur='this.size=1;' 
      onchange='this.size=10; this.blur();'>
        <option value="---" selected disabled>None</option>
        <option value="Business">Business</option>
        <option value="Accounting">Accounting</option>
        <option value="Business Administration">Business Administration</option>
        <option value="Economics and Finance">Economics and Finance</option>
        <option value="International Business">International Business</option>
        <option value="Logistics and Supply Chain Management">Logistics and Supply Chain Management</option>
        <option value="Management">Management</option>
        <option value="Human Resource Management">Human Resource Management</option>
        <option value="Digital Business">Digital Business</option>
        <option value="Tourism and Hospitality Management">Tourism and Hospitality Management</option>
        <option value="Digital Marketing">Digital Marketing</option>
        <option value="Design - Digital Media">Design - Digital Media</option>
        <option value="Design Studies">Design Studies</option>
        <option value="Game Design">Game Design</option>
        <option value="Digital Film and video">Digital Film and video</option>
        <option value="Professional Communication">Professional Communication</option>
        <option value="Fashion - Enterprise">Fashion - Enterprise</option>
        <option value="Languages">Languages</option>
        <option value="Psychology">Psychology</option>
        <option value="Aviation Management">Aviation Management</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Information Technology">Information Technology</option>
        <option value="Robotics and Mechatronics Engineering">Robotics and Mechatronics Engineering</option>
        <option value="Electronic and Computer Systems Engineering">Electronic and Computer Engineering</option>
        <option value="Food Technology and Nutrition">Food Technology and Nutrition</option>
      </select>
      <p>The year of the rmit enterance</p>
      <input id="month" type="month" name="year" required>

        <!-- Email, Full name, Password -->
        <p>Personal Information</p>
        <div class="email-input">
          <input type="text" name="email" placeholder="s1234567" required>
          <span>@rmit.edu.vn</span>
      </div>
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="NEXT">
      </form>
  </div>
  <div class="goto-login">
    <p class="message">Already have an account?</p>
    <a href="/"><p>Login</p></a>
  </div>

<script>
  
</script>

</body>


</html>