<%- include("../partials/header") %>

    <link rel="stylesheet" href="/stylesheets/writeReview.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="/javascripts/writeReview.js" defer></script>
    <script src="/javascripts/popup.js" defer></script>
    <title>RMITdays</title>
</head>
<body>
    <%- include("../partials/navigation") %>
    <div class="CourseSelectionHeader">
        <a href="courseSelect">    <ion-icon class="courseList-delete-icon" name="close-outline"></ion-icon></a>
    </div>
    <div class="mainContent">
        <div class="reviewContainer">
            <h2>Lecture Review</h2>
            <br>
            <div class="section paper">
                <h3>Paper</h3>
                <div class="options">
                    <span class="option" onclick="selectOption(this, 'paper')">None</span>
                    <span class="option" onclick="selectOption(this, 'paper')">Once</span>
                    <span class="option" onclick="selectOption(this, 'paper')">Twice</span>
                    <span class="option" onclick="selectOption(this, 'paper')">3 Times</span>
                </div>
            </div>
        
            <div class="section test">
                <h3>Test</h3>
                <div class="options">
                    <span class="option" onclick="selectOption(this, 'test')">None</span>
                    <span class="option" onclick="selectOption(this, 'test')">Once</span>
                    <span class="option" onclick="selectOption(this, 'test')">Twice</span>
                    <span class="option" onclick="selectOption(this, 'test')">3 Times</span>
                </div>
            </div>
        
            <div class="section grades">
                <h3>Grades</h3>
                <div class="options">
                    <span class="option" onclick="selectOption(this, 'grades')">Generosity</span>
                    <span class="option" onclick="selectOption(this, 'grades')">In General</span>
                    <span class="option" onclick="selectOption(this, 'grades')">Strickness</span>
                </div>
            </div>
        
            <div class="section group-project">
                <h3>Group Project</h3>
                <div class="options">
                    <span class="option" onclick="selectOption(this, 'group-project')">Yes</span>
                    <span class="option" onclick="selectOption(this, 'group-project')">No</span>
                </div>
            </div>

            <div class="section section structure">
                <h3>Structure (about onine lecture)</h3>
                <div class="options">
                    <span class="option" onclick="selectOption(this, 'structure')">Yes</span>
                    <span class="option" onclick="selectOption(this, 'structure')">No</span>
                </div>
            </div>


            <div class="section">
                <h3>Comments</h3>
                <textarea class="comment-box" placeholder="Write your comment here..."></textarea>
            </div>
            

            

        </div>
        <div class="submit">
            <a id="submit" class="submit-button" onclick="openPopup()">Submit</a>
        </div>
        
    </div>
    <div id="popup" class="hide">
        <div class="content">
          <h1>Confirm your action</h1>
          <p>Do you agree to submit your review?</p>
            <button onclick="window.location.href='/course_evaluation'">YES</button>
            <button href="#" onclick="closePopup()">NO</button>
        </div>
      </div>
    <script>
        function selectOption(option, sectionName) {
            const section = document.querySelector(`.section.${sectionName}`);
            const options = section.querySelectorAll(`.option`);
    
            options.forEach(opt => {
                opt.classList.remove('selected');
            });
    
            option.classList.add('selected');
        }
        
    </script>
</body>
</html>