*{
  margin: 0;
  padding: 0;
  font-family: 'Sofia Sans';
}


/* mainpage */
.adminMain-header{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#adminMain-logo{
  width: 40px;
  height: 40px;
  padding: 5px;
}
#welcomeAdmin{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#adminMain-btns{
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.adminMain-btn{
  text-decoration: none;
  display: flex;
}

.adminMain-btn button{
  padding: 20px;
  margin: 5px;
  width: 100%;
  background-color: #E3E5E0;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
}

.adminMain-btn button:hover{
  filter: brightness(80%);
}

/* basic design */

.adminCourseManageContents{
  margin: 15px 15px 15px 225px
}

.adminCourseManageContents h1{
  font-size: 30px;
  margin: 10px 0px;
}

.adminCourseManageContents p{
  padding: 2px;
  font-size: 15px;
  color: #EB0A0A;
}

.admin-add-btn{
  background-color: transparent;
  vertical-align: middle;
  display: flex;
  float: right;
  margin: 0px 0px 10px;
  border: 2px solid  #EB0A0A;
  border-radius: 50px;
  font-weight: 600;
  padding: 5px 10px;
}

.admin-add-btn ion-icon{
  width: 20px;
  height: 20px;
  padding-right: 5px;
  font-weight: 1000;
  color: #EB0A0A;
}

/* table*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th, td {
  border: 1px solid #BFC1BB;
  padding: 5px 10px;
}

td{
  text-align: left;
  font-size: 13px;
}

th {
  background-color: #E3E5E070;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
}

#action-edit{
  border: none;
  border-radius: 10px;
  background-color: #BFC1BB;
  color: white;
  font-weight: 600;
  padding: 5px;
}

#action-delete{
  border: none;
  border-radius: 10px;
  background-color: #EB0A0A;
  color: white;
  font-weight: 600;
  padding: 5px;
}

/* Make buttons the same width */
.action-buttons button {
  width: 60px; 
  margin: 2px 0px 2px 5px;
}

.action-buttons button:hover{
  opacity: 0.7;
}

/* popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  max-width: 400px; 
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.popup-close {
  cursor: pointer;
  background-color: white;
  color: rgb(255, 0, 0);
  border: 2px solid red;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 50%;
  width:35px;
  height:35px;
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.custom-label {
  font-weight: bold;
  color: black;
  margin-bottom: 15px;

  
}
.custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  width:95%;
  margin-bottom: 15px;
  background-color: #f0ecec;

}

.custom-form {
  margin-bottom: 10px;
}

.custom-button {

  background-color: #E61E2A; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px;
  border: none;
  display: flex;
  float: right;
  
}

.custom-button:hover {
  background-color: #860f17;

}

.custom-textarea {
  width:100%;
  margin-top:10px;
}
.map-thumbnail {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}


.image-preview {
  width: 150px; 
  height: auto; 
  border: 1px solid hsl(0, 0%, 0%); 
  border-radius: 5px; 
  margin-top: 10px; 
}
.sort-arrow {
  cursor: pointer;
  margin-left: 5px;
}

.sort-arrow:hover {
  color: #0056b3; /* 또는 원하는 색상 */
}

.custom-textarea {
  resize: none;
  background-color: #f0ecec;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 15px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchIcon {
  position: absolute;
  right: 415px;
  cursor: pointer;
  top: 15px;
  color: #838481;
}
.submitBtn {
  border: none;
  background: none;
}

.search input[type="text"] {
  width: 70%; 
  padding: 8px 12.6667px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #E3E5E0;
}
.searchIcon2 {
  position: absolute;
  right: 415px;
  cursor: pointer;
  top: 10px;
  color: #838481;
}
.search2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 15px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top:20px;
  
}
.search2 input[type="text"] {
  width: 70%; 
  padding: 8px 12.6667px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #E3E5E0;
}

