*{
  margin: 0;
  padding: 0;
  font-family: 'Sofia Sans';
}

header {
  display: flex;
  justify-content: space-between;
}

.header{
  display: flex;
  flex-direction: row;
}

.header h2{
padding: 25px 0px;
color: white;

}

.logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 40px;
  max-height: 40px;
  padding: 20px;
}
.delete-btn ion-icon{
  color: white;
  width: 30px;
  height:30px;
  padding: 20px;
}

.delete-btn ion-icon:hover{
  opacity: .5;
}

body {
  background-color:#222160 ;
}
.mainContainers {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
margin: 0px 20px 20px 20px;
background-color: white;
border-radius: 20px;
height: 80vh;
}

.barCode{
padding: 20px;
}

.barCode img{
min-width: 300px;
height: 80px;
}

.info-btn-wrap{
position: absolute;
right:0;bottom:15vh;left:0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
display: -webkit-flex;
-webkit-align-item: center;
-webkit-justify-content: center;
}

.accountInfo {
width: 60%;
display: flex;
flex-direction: column;
background-color: #e3e5e0a6;
border-radius: 10px;
font-size: 15px;
margin: 20px;
padding: 20px;
box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.459)
}

.accountInfo img{
width: 100px;
padding-bottom: 30px;
}

.accountNumber, .balance{
float: right;
}

.accountNumber{
font-size: 15px;
color: #888986;
}

.balance{
font-size: 20px;
font-weight: 600;
}

.buttonContent {
padding: 10px;
background-color: #FFC500;
width: 80%;
border: none;
border-radius: 30px;
}
.buttonContent span {
font-size: 30px;
font-weight: 700;
color: black;
}
.buttonContent ion-icon {
width: 40px;
height: 40px;
margin-right: 10px;
color: black;
}

.btnContent-wrap{
display: flex;
justify-content: center;
}

.buttonContent:hover {
filter: brightness(70%);
}
