.detail {
    /* display: flex; */
    margin-top:20px;
    margin-left:20px;
}

.location {
    display: flex;
    padding:5px;
}

.location p {
    margin-left:10px;
}

.opentime {
    display: flex;
    padding:5px;
}

.opentime p {
    margin-left:10px;
}

.phoneNumber {
    display: flex;
    padding:5px;
}

.phoneNumber p {
    margin-left:10px;
}

.mainContentHeader {
    padding:25px;
    margin-top: 70px;
    
}
.Category {
    display: flex;
    justify-content: space-between;
  }
  .courseList-delete-icon{
      margin: 10px;
      width: 30px;
      height: 30px;
      color: #E3E5E0;
    }
.contentContainers {
  display: flex;
}

.contentContainer {
  margin: 0 auto;
}
  .courseList-delete-icon:hover{
      color: hsl(241, 49%, 25%);
    }
  
  .contentHeader h1 {
      font-size: 50px;
  }
  .Category {
    display: flex;
    justify-content: space-between;
  }
  .locationImgcontainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .locationimage {
    max-width: 100%;
    height: 330px;
    object-fit: cover;
    margin-bottom: 10px;
    
  }
  .additionalText {
    display: flex;
    padding:5px;
}

.additionalText p {
    margin-left:10px;
}
.information {
  font-size: 20px;
}
  @media screen and (max-width: 767px) {
    .locationImgcontainer {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 85%;
        margin: 12px;
        margin:0 auto;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    
      .locationimage {
        max-width: 100%;
        height: 330px;
        object-fit: cover;
        margin-bottom: 10px;
        
      }
      .information {
        font-size: 27px;
      }

  }