body {
    font-family: 'Sofia Sans';
    margin: 0;
    padding: 0;
    background-color: white;
}

.CourseEvaluationHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CourseEvaluationHeader h1{
    font-size: 20px;
    margin: 20px;
    font-weight: bolder;
}

.courseList-delete-icon{
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #E3E5E0;
  }
  
.courseList-delete-icon:hover{
    color: #222160;
  }
/* 검색창과 아이콘을 가로 정렬하기 위한 스타일 */
.search {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    margin-top:70px;
}

/* 검색 아이콘에 대한 스타일 */
.search ion-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 8px;
    color: #838481;
}
.submitBtn {
    border: none;
    background: none;
}

/* 검색어 입력란에 대한 스타일 */
.search input[type="text"] {
    width: calc(100% - 30px); 
    padding: 8px 12.6667px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #E3E5E0;
}

.mainContent {
    margin:20px;
    margin-top:30px;
}

.author {
    color: #7D7F7A;
    font-size: 13px;
}

.comment a {
    text-decoration: none;
    color: black;
}
.comment {
    border-bottom: 1px solid #E3E5E0;
}

.reviewBtn {
    float: right;
    color: #EB0A0A;
    height:30px;
}

.reviewBtn a {
    text-decoration: none; /* 링크 밑줄 제거 */
}

.reviewBtn button {
    padding: 10px 20px;
    background-color: #EB0A0A;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 12px;
    right:19px;
}

.reviewBtn button:hover {
    background-color: #222160;
}
.course_evaluation-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .course_evaluation-header h1{
    font-size: 20px;
    margin: 10px 20px;
  }

  .course_evaluation-delete-icon{
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #E3E5E0;
  }
  
  .course_evaluation-delete-icon:hover{
    color: #222160;
  }
