.mainContent {
    margin:15px;
    border: 1px solid #E3E5E0;
    border-radius: 15px;
    margin-top: 70px;
}

.courseContainer {
    /* display: flex; */
    margin:20px;
  
}
.courseContainer h2 {
  margin:15px;
}


.courseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid #E3E5E0;
    color:black;
    /* margin-top:20px; */
}
.professorName {
  color: #7D7F7A;
  font-size: 13px;
}
/* 버튼 스타일 */
.reviewBtn {
    background-color: #E61E2A;
    border-radius: 20px;
    width: 6rem;
    height:35px;
    color: white;
    border: none;
}


.courseContainer a {
  text-decoration: none;
  margin-bottom: 60px;
}

#goback-btn{
  text-decoration: none;
  color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  border: none;
  width: 100%;
  background-color: #E3E5E070 ;
  padding: 15px;
}

#goback-btn ion-icon{
  margin-right: 5px;
}


#goback-btn:hover {
  opacity: 0.3;
}
