*{
  font-family: 'Sofia Sans';
}

.editprofile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editprofile-header h2{
  font-size: 20px;
  margin: 10px 20px;
}

input[type="text"] {
  padding: 15px;
  font-size: 15px;
  border: 1.5px solid #E3E5E0;
  border-radius: 15px;
  margin-bottom: 10px;

}

.profileform-delete-icon{
  margin: 10px;
  width: 30px;
  height: 30px;
  color: #E3E5E0;
}

.profileform-delete-icon:hover{
  color: #222160;
}

#profile-pic {
  display: flex;
  justify-content: center;
}

#profile-pic img{
  background-color: #E3E5E0;
  border: 2.5px solid #C0C2BD;
  border-radius: 70%;
  margin: 10px 0px;
  width: 80px;
}

#profilepic-btn{
  display: flex;
  justify-content: center;
}

#profilepic-btn button{
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

#uploadimg{
  color: white;
  background-color: #222160;
  font-weight: 600;
  border: none;
}

#removeimg{
  color: #7D7F7A;
  background-color: #E3E5E0;
  font-weight: 600;
  border: 1.5px solid #C0C2BD;
}

#editprofile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#editprofile-form p{
  color: #222160;
  font-size: 15px;
  font-weight: 800;
}

#editprofile-form input, select{
  padding: 15px;
  font-size: 15px;
  border: 1.5px solid #E3E5E0;
  border-radius: 15px;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

#editprofile-form input::placeholder{
  color: black;
  font-weight: 500;
}

#form-btns{
  margin: 0px 15px;
  float: right;
}

#save{
  text-align: center;
  justify-content: center;
  border: none;
  background-color: #EB0A0A;
  border-radius: 10px;
  padding:  10px 15px;
  color: white;
  font-weight: 600;
}
#reset{
  text-decoration: none;
  color: #7D7F7A;
  background-color: #E3E5E0;
  font-weight: 600;
  border: 1.5px solid #C0C2BD;
  border-radius: 10px;
  padding:  10px 15px;
}