*{
  font-family: 'Sofia Sans';
}

div {
  margin: auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

#login-header{
  margin-top: 100px;
}

p {
  color: #E3E5E0;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

h1{
  font-size: 40px;
  font-weight: 800;
  color: #E61E2A;
  margin: 0;
}

.emailbutton {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #EAEBE8;
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  height: 45px;
}

.passwordbutton {
  font-size: 15px;
  width: 100%;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #EAEBE8;
  border-radius: 20px;
  margin-bottom: 10px;

}



#btn {
  background-color: #222160;
  margin-bottom: 30px;
  color: white;
  font-size: 17px;
  width: 100%;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
}

#btn:hover{
  background-color: rgba(34, 33, 96, 0.835);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #00000027;
  font-size: 17px;
}
input::placeholder{
  color: #bcbeba;

}

#findId-btn:hover{
  color: #FFC500;
}

#register-btn{
  color: #222160;
  font-size: 25px;
  font-weight: 700;
  margin: 5px;
}

#register-btn:hover{
  opacity: .5;
}