
.course_evaluation-header {
    margin:20px;
    font-size: 15px;
}

.course_evaluation_detail-delete-icon{
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #E3E5E0;
  }
  
.course_evaluation_detail-delete-icon:hover{
    color: #222160;
  }
.mainContent {
    /* margin:15px; */
    border: 1px solid #E3E5E0;
    border-radius: 15px;
    padding:10px;
    

}
.review {
    font-size: 16px;
}
.professorName {
    color: #7D7F7A;
    font-size: 10px;
}
.review-section {
    border-bottom: 1px solid #E3E5E0;
}

.comment {
    border-bottom: 1px solid #E3E5E0;
    padding:10px;
}


.author {
    color: #7D7F7A;
    font-size: 13px;
}
.headerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.course_evaluation-header {
    display: flex;
    flex-direction: column;
}

.course_evaluation-header h3,
.course_evaluation-header p {
    margin: 0;
}

.course_evaluation-header a {
    margin-left: auto;
    color: black;
}

.course_evaluation_detail-delete-icon {
    font-size: 30px;
}
.graph {
    display: flex;
    flex-direction: column; 
    height: 100px; 
    width: 100%; 
}

.bar {
    height: 100%;
    margin-bottom: 10px; 
    background-color: #ddd; 
    position: relative;
}

.barText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    color: #222160;
}

#generosityBar {
    background-color: #FFC500; 
}

#generalBar {
    background-color: #91C987; 
}

#strictnessBar {
    background-color: #F8BBBB; 
}
.star-rating-container {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */

}

.star-rating {
    margin-right: 10px; /* 별점과 숫자 사이의 간격 */
}

.star-rating .star {
    color: #ddd; /* 기본 별 색상 */
    font-size: 20px;
}

.star-rating .star.filled {
    color: #ffc107; /* 채워진 별 색상 */
}

.star-rating .star.half-filled::before {
    content: '\2605'; /* 절반 채워진 별을 위한 콘텐츠 (유니코드 별 문자) */
    color: #ffc107;
    position: absolute;
}

.rating-number {
    font-size: 15px; /* 평점 숫자의 크기 */
}
.difficulty-heading {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.difficulty-heading h3 {
    margin-right: 10px; /* h3와 h5 사이의 간격 */
}

.assignment-heading {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.assignment-heading h3 {
    margin-right: 10px; /* h3와 h5 사이의 간격 */
}


.exam-heading {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.exam-heading h3 {
    margin-right: 10px; /* h3와 h5 사이의 간격 */
}

.project-heading {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.project-heading h3 {
    margin-right: 10px; /* h3와 h5 사이의 간격 */
}
