
.contentHeader h1 {
    font-size: 50px;
}

.mainContent {
  padding:50px;
  margin-top: 70px;
}

.Category {
  display: flex;
  justify-content: space-between;
}

table.time {
  table-layout: fixed; /* 셀의 크기를 고정시킴 */
  width: 100%; /* 테이블 전체 너비 설정 */
  border-spacing: 0.5px;
}

table.time th,
table.time td {
  width: 16.66%; 
  padding: 5px;
  text-align: center; 
  white-space: normal; 
  word-wrap: break-word;
  height: 25px;
}

.not-assigned {
  background-color: white;
}

.assigned {
  background-color: yellowgreen;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 50% 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


  * {
    font-family: 'Sofia Sans';
}
.timetableModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-contents-wrap{
  margin-top: 40px;
}

.modal-contents-wrap span{
  float: right;
  font-weight: 500;
  color: rgb(84, 83, 83);
}

.modal-contents-wrap p{
  font-weight: 800;
  color: #222160;
  border-bottom: 1px solid #E3E5E0;
}

.modal-contents-wrap span, p{
  padding: 5px;
}

.delete-button {
    background-color: #E61E2A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
}

.delete-button:hover {
    background-color: #b81f0b;
}
.detail-label {
    font-weight: bold;
}

.assigned {
  background-color: #FAC800; /* 배경색 설정 */
  border: 1px solid #FAC800; /* 테두리 색을 배경색과 동일하게 설정 */
  
}


@media screen and (max-width: 600px) {
  .mainContent {
    padding: 20px;
  }

  table.time {
    width: auto; /* 테이블 너비를 화면에 맞게 유동적으로 설정 */
    font-size: 12px;
    border-spacing: 0.5px; /* 셀 간격을 줄임 */
  }

  table.time th,
  table.time td {
    padding: 5px;
    
  }

  table.time th:first-child,
  table.time td:first-child {
    width: 50px;
    font-weight: bold;
  }
  .modalContentHeader {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
  }
}
