.courseList-delete-icon{
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #E3E5E0;
    float: right;
    padding:5px;
    margin-top:80px;
  }
  
  .courseList-delete-icon:hover{
    color: #222160;
  }
.mainContent {
    margin:15px;
    border: 1px solid #E3E5E0;
    border-radius: 15px;
    margin-top: 70px;
}

.options #stars.selected {
  color: gold; 
}

.reviewContainer {
    /* display: flex; */
    margin:20px;
}

.section {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.options {
    display: flex;
    gap: 10px;
}

/* .option {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
} */

.option:hover {
    color: #222160;
}


.option {
    position: relative;
    padding: 10px;
    color: #BFC1BB;

    cursor: pointer;
}

.option:not(:last-child)::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    color: #ccc;
}

.submit-button {
  float: right;
  padding: 10px 20px;
  background-color: #EB0A0A;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  margin-top: 20px;
}

#submit {
  text-decoration: none;
}
.comment-box {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; /* 사용자가 수직으로만 리사이즈 할 수 있도록 함 */
    background-color: #E3E5E0;
    padding: 5px;
  }

.comment-box::placeholder {
    color: black; 
    padding:10px;
}

.comment-box textarea::-webkit-input-placeholder {
    text-indent: -3px;
    padding-left: 10px;
    }

.option.selected {
    /* 선택된 옵션 스타일 */
    color: #222160;
  }
/* Pop up */
#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    backdrop-filter: blur(4px);
  
  }
  
  #popup.hide {
    display: none;
  }
  
  #popup.has-filter {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  
  #popup .content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .content h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin: 30px 16px 8px;
  }
  .content p {
    text-align: center;
    font-size: 15px;
    margin: 10px 20px 70px;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
  }
  .content button {
    background: transparent;
    border: none;
    color: #222160;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }
  .content button:nth-of-type(1) {
    border-top: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    left: 0;
    border-radius: 0 0 0 10px;
  }
  .content button:nth-of-type(2) {
    border-top: 1px solid #B4B4B4;
    right: 0;
    border-radius: 0 0 10px 0;
  }
  .content button:focus,
  .content button:hover {
    font-weight: bold;
    background: #EFEFEF;
  }
  .content button:active {
    background: #D6D6D6;
  }
  .input-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    width:95%;
    margin-bottom: 15px;
    background-color: #f0ecec;
  
  }

