<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Sofia Sans' rel='stylesheet'>
  <link rel="icon" href="images/icons/rmitlogo.png" sizes = "16*16">
  <link rel="stylesheet" href="stylesheets/register.css">
  <title>RMITdays</title>
</head>
<body>
    <header>
      <div class="header">
        <img class="logo" src="../images/icons/rmitlogo.png" alt="RMIT logo" >
        <h2>REGISTER</h2>
      </div>
      <button class="delete-btn"> <a href="../index.html">X</a></button>
    </header>
    <div class="register">
        <form method="post" action="서버의url" id="login-form">
          <p>The year of the rmit enterance</p>
            <input type="text" name="year" placeholder="   YYYY/MM">
          <p>Personal Information</p>
            <input type="password" name="sNumber" placeholder="   Password">
            <input type="text" name="Email" placeholder="   Email">
            <input type="password" name="ID" placeholder="   ID">
            <input type="submit" value="NEXT">
            <p class="message">Already have an account? <a href="/">Login</a></p>
        </form>
    </div>

<script src="javascripts/register.js" defer></script>
</body>
</html>